In [2]:
import json

with open('/home/shumway743/cis5500_group/geo/state/tl_2021_us_state.shp.geojson','r') as f:
    geo = json.load(f)

out = []
for feat in geo['features']:
    out.append({
        'id':feat['properties']['GEOID'],
        'geojson': feat,
        'type':'state'
    })

In [3]:
import pandas as pd

df = pd.DataFrame(out)
df.head()

   id                                            geojson   type
0  54  {'type': 'Feature', 'properties': {'REGION': '...  state
1  12  {'type': 'Feature', 'properties': {'REGION': '...  state
2  17  {'type': 'Feature', 'properties': {'REGION': '...  state
3  27  {'type': 'Feature', 'properties': {'REGION': '...  state
4  24  {'type': 'Feature', 'properties': {'REGION': '...  state

In [4]:
df.dtypes

id         object
geojson    object
type       object
dtype: object

In [9]:
!pip install mysqlclient

Collecting mysqlclient
  Using cached mysqlclient-2.1.1.tar.gz (88 kB)
Building wheels for collected packages: mysqlclient
  Building wheel for mysqlclient (setup.py) ... done
  Created wheel for mysqlclient: filename=mysqlclient-2.1.1-cp39-cp39-linux_x86_64.whl size=60657 sha256=060018b14bdb4e58752704ba6fcb22b000778db24b8006dfefbef0e5ed7cd58e
  Stored in directory: /home/shumway743/.cache/pip/wheels/f3/a5/27/c6312d8008951cfd5511684378a9e057b82006c70e1fea6107
Successfully built mysqlclient
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.1.1

In [19]:

from sqlalchemy import create_engine, text
engine = create_engine('mysql://admin:maverick@database-1.ciepkqrnbwpe.us-east-1.rds.amazonaws.com:3306/maverick')

In [23]:
test = pd.read_sql(text('select * from states;'),con=engine.connect())
test.head()

        geo_id  fips        name
0  0400000US01     1     Alabama
1  0400000US02     2      Alaska
2  0400000US04     4     Arizona
3  0400000US05     5    Arkansas
4  0400000US06     6  California

In [26]:
import sqlalchemy
df.to_sql('geo_1',con=engine.connect(),dtype={'geo_id':sqlalchemy.types.JSON},index=False)

56

In [27]:
df2 = df
df2['geojson'] = df2.geojson.apply(lambda x: json.dumps(x))
df2.head()

   id                                            geojson   type
0  54  {"type": "Feature", "properties": {"REGION": "...  state
1  12  {"type": "Feature", "properties": {"REGION": "...  state
2  17  {"type": "Feature", "properties": {"REGION": "...  state
3  27  {"type": "Feature", "properties": {"REGION": "...  state
4  24  {"type": "Feature", "properties": {"REGION": "...  state

In [28]:
df2.to_csv('geo_out.csv',index=False)